<div class="container" style="width: 650px;">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">作品名稱</th>
        <th scope="col">簡介</th>
        <th scope="col">git address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>股票預測</td>
        <td>AAPL 技術面 價格預測</td>
        <td>https://github.com/BigPythonIdea/StockPredict</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Pytorch</td>
        <td>torch 練習</td>
        <td>https://github.com/BigPythonIdea/pytorch</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>信用卡風險分析</td>
        <td>信用卡風險分析</td>
        <td>https://github.com/BigPythonIdea/CreditCardFraud</td>
      </tr>
    </tbody>
  </table>


</div>
